<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eht18_masterprojekt">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Feature_Med_List.MedListDisplayView"
            android:label="@string/title_activity_med_list_display"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Feature_SMS_Import.ImportSmsView"
            android:label="@string/title_activity_import_sms"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivityView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>